@font-face
{
	font-family: "Futura Std";
	src: url("FuturaStd-Medium.woff2") format("woff2"),	url("FuturaStd-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: "Futura Std";
	src: url("FuturaStd-MediumOblique.woff2") format("woff2"), url("FuturaStd-MediumOblique.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: "Futura Std";
	src: url("FuturaStd-Bold.woff2") format("woff2"), url("FuturaStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: "Futura Std";
	src: url("FuturaStd-BoldOblique.woff2") format("woff2"), url("FuturaStd-BoldOblique.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}