@font-face
{
	font-family: "Gill Sans";
	src: url("GillSans-Regular.woff2") format("woff2"), url("GillSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face
{
	font-family: "Gill Sans";
	src: url("GillSans-Italic.woff2") format("woff2"), url("GillSans-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic
}

@font-face
{
	font-family: "Gill Sans";
	src: url("GillSans-Bold.woff2") format("woff2"), url("GillSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face
{
	font-family: "Gill Sans";
	src: url("GillSans-Bold-Italic.woff2") format("woff2"), url("GillSans-Bold-Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic
}
