@font-face
{
	font-family: "Univers Condensed";
	src: url("UniversCondensed-Regular.woff") format("woff2"), url("UniversCondensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: "Univers Condensed";
	src: url("UniversCondensed-Bold.woff") format("woff2"), url("UniversCondensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}