@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic-Bold.woff2") format("woff2"), url("TradeGothic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic.woff2") format("woff2"), url("TradeGothic.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic.woff2") format("woff2"), url("TradeGothic.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic-Light.woff2") format("woff2"), url("TradeGothic-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic-Bold.woff2") format("woff2"), url("TradeGothic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TradeGothic";
    src: url("TradeGothic-Light.woff2") format("woff2"), url("TradeGothic-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

